.mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productDiv {
    width: 20%;
    height: 400px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.productDiv > div {
    margin: auto;
}

.productDiv > div:nth-child(1) {
    width: 90%;
    height: 60%;
}

.productDiv > div:nth-child(2) {
    width: 90%;
    height: 40%;
    text-align: left;
}

.productDiv > div:nth-child(1) > img {
    max-width: 80%;
    max-height: 90%;
    margin: auto;
}

.productDiv > div:nth-child(2) > p {
    margin: 5px;
}