.main {
    margin-top: 50px;
}

.main > div {
    margin-top: 20px;
}

.main button {
    margin: 0 5px;
    border: 0;
    color: white;
    background-color: rgb(75, 75, 75);
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}