.navbar {
    padding: 15px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar > button {
    margin: 0 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}